<h2>Liste de médicaments</h2>
<i class="fas fa-list-ul icon-list"></i>
<div class="medicaments-liste-conteneur">
    
    <table class="tableau-medicat">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Dosage</th>
          <th>Fréquence</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicament of medicaments">
          <td>{{ medicament.id }}</td>
          <td>{{ medicament.nom }}</td>
          <td>{{ medicament.dosage }}</td>
          <td>{{ medicament.frequence }}</td>
          <td>
            <button class="sup-btn" (click)="supprimerMedicament(medicament.id)">
              Supprimer
            </button>
          </td>
          <td>
            <a [routerLink]="['/medicament', medicament.id]">Détails</a>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn-ajout" (click)="showForm = true">Ajouter</button>
    <div *ngIf="showForm" class="overlay">
        <div class="form-conteneur">
          <h2 class="formul-titre">Ajout de médicament</h2>
          <form [formGroup]="mediForm" (ngSubmit)="submitMedicamentForm()">
            <div class="form-group">
              <label class="formul-label">id</label>
              <input class="formul-input" type="number"formControlName="id"/>
            </div>
            <div class="form-group">
              <label class="formul-label">Nom</label>
              <input class="formul-input" type="text"formControlName="nom"/>
            </div>
            <div class="form-group">
              <label class="formul-label">Dosage</label>
              <input
                class="formul-input"type="checkbox" formControlName="dosage"/>
                <input type="checkbox" id="matin" name="matin" value="matin" />
                  <label for="matin">Matin</label>
                  <input type="checkbox" id="midi" name="midi" value="midi" />
                  <label for="midi">Midi</label>
                  <input type="checkbox" id="soir" name="soir" value="soir" />
                  <label for="soir">Soir</label>
            </div>
            <div class="form-group">
              <label class="formul-label">Fréquence</label>
              <input class="formul-input"type="radio"formControlName="frequence"/>
              <div class="form-group">
                <label class="formul-label">Dosage</label>
                <label><input type="radio" name="dosage" value="comprime"> Comprimé</label>
                <label><input type="radio" name="dosage" value="sirop"> Sirop</label>
              </div>
              
            </div>
            <button class="btn-vali" (click)="submitMedicamentForm()">Valider</button>
<div class="validation-message">Votre donnée a été validée avec succès.</div>

            <button class="btn-annuler" type="button" (click)="showForm = false">Annuler</button>
          </form>
    </div>
  
</div>